@import url('reset.css');

.header {
    width: 100%;
    font-size: 10px;
    position: fixed;
    top: 0;
    background-color: var(--white);
    border-bottom: 1px solid var(--black);
}

.main {
    margin-top: 3em;
    padding: 4rem 0;
    /* border: 1px solid purple; */
}

/* desktop menu styles */

.main-nav--desktop {
    width: 100%;
    display: none; /* by default */
}

.main-nav__list {
    width: 95%;
    margin: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav__link {
    font-size: 2em;
    padding: 0.6em 1em;
    color: var(--black);
}

/* mobile menu styles */

.main-nav--mobile {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-nav__menu-container {
    width: 100%;
    padding: 0 1em;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.main-nav__menu {
    width: 4.7em;
    cursor: pointer;
}

.menu--open {
    display: none; /* by default */
}

.dropdown-menu {
    width: 100%;
    display: none; /* by default */
    flex-direction: column;
    align-items: stretch;
}

.dropdown-menu__item {
    width: 100%;
}

.dropdown-menu__link {
    width: 100%;
    padding: 1em;
    font-size: 2em;
    color: var(--black);
}

/* hero section styles */

.hero-section {
    width: 100%;
    max-width: 1024px;
    padding: 5em 2em;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 2.5em;
}

.hero-section__header {
    width: 50%;
    max-width: 250px;
    border-radius: 50%;
}

.hero-section__figure {
    border-radius: 50%;
}

.hero-section__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.hero-section__title {
    width: 100%;
    font-size: 2.5em;
    font-weight: 500;
    text-align: center;
    color: var(--black);
}

.hero-section__greeting {
    display: inline-block;
    width: 1.5em;
}

.hero-section__text {
    width: 100%;
    font-size: 1.6em;
    line-height: 1.5em;
    text-align: center;
    color: var(--black);
}

.hero-section__location {
    display: inline-block;
    width: 1.5em;
}

.hero-section__list {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.hero-section__item {
    width: 4em;
}

/* stack styles */

.stack {
    width: 100%;
    padding: 3em 0;
    font-size: 10px;
    display: grid;
    row-gap: 2em;
    /* border: 1px solid green; */
}

.stack__title {
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: var(--black);
}

.stack__division {
    width: 35%;
    max-width: 300px;
    margin: auto;
    color: var(--black);
}

.stack__list {
    width: 100%;
    display: grid;
    grid-template-columns: 4em 4em 4em 4em 4em;
    grid-template-rows: auto auto;
    justify-content: center;
    align-items: center;
    row-gap: 1em;
    column-gap: 2em;
    /* border: 1px solid salmon; */
}

.stack__item {
    width: 4em;
    cursor: pointer;
}

/* about me styles*/

.about-me {
    width: 95%;
    padding: 5em 0;
    font-size: 12px;
    border-top: 1px solid var(--black);
    border-bottom: 1px solid var(--black);
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.about-me__header {
    width: 100%;
}

.about-me__body {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
}

.about-me__title {
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: var(--black);
}

.about-me__text {
    width: 100%;
    font-size: 1.5em;
    text-align: justify;
    color: var(--black);
}

/* projects styles */

.project {
    width: 95%;
    padding: 5em 0;
    font-size: 12px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.project__title {
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: var(--black);
}

.project__text {
    width: 100%;
    font-size: 1.5em;
    text-align: justify;
    color: var(--black);
}

.card {
    width: 100%;
    font-size: 10px;
    border-radius: 3px;
    border: 2px solid var(--black);
    display: grid;
    grid-template-rows: auto auto;
}

.card__header {
    width: 100%;
}

.card__figure {
    width: 100%;
    border-bottom: 1px solid var(--black);
    cursor: pointer;
}

.card__body {
    width: 100%;
    padding: 1.5em 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.card__title {
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: var(--black);
}

.card__text {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: var(--black);
}

.card__links {
    width: 100%;
    font-size: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5em;
}

.card__link {
    font-size: 6em;
    font-weight: 600;
    padding: 1em 3em;
    border-radius: 5px;
    color: var(--white);
    border: 2px solid var(--black);
    background-color: var(--black);
}

.card__link:active {
    background-color: var(--white);
    color: var(--black);
}

/* contact me styles */

.contact-me {
    /* border: 1px solid black; */
    width: 95%;
    padding: 2em 0;
    font-size: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    gap: 1em;
}

.contact-me__title {
    width: 100%;
    font-size: 2em;
    text-align: center;
    color: var(--black);
}

.contact-me__text {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: var(--black);
}

.contact-me__email {
    width: 100%;
    font-size: 1.5em;
    text-align: center;
    color: var(--black);
}

/* footer styles */

.footer {
    width: 100%;
    padding: 2em 0;
    font-size: 15px;
    background-color: var(--black);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2em;
}

.footer__header {
    width: 95%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 4em;
    /* border: 1px solid red; */
}

.footer__autor {
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1em;
    /* border: 1px solid green; */
}

.footer__name {
    font-size: 2em;
    color: var(--white);
}

.footer__rol {
    font-size: 1.6em;
    color: var(--white);
}

.footer__social {
    width: 100%;
    font-size: 10px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    gap: 1em;
}

.footer__social-title {
    font-size: 2em;
    color: var(--white);
}

.footer__social-list {
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1em;
    /* border: 1px solid orange; */
}

.footer__social-item {
    width: 4em;
}

.footer__division {
    width: 95%;
    color: var(--white);
}

.footer__body {
    width: 95%;
    font-size: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__copyright {
    font-size: 1em;
    color: var(--white);
}


@media (hover: hover) {

    .dropdown-menu__item:hover {
        background-color: var(--black);
    }

    .dropdown-menu__link:hover {
        color: var(--white);
    }

    .card__link:hover {
        background-color: var(--white);
        color: var(--black);
    }

    .contact-me__email:hover {
        text-decoration: underline;
        text-decoration-color: var(--black);
    }
}

/* 

0-480px: smaller smartphones
481px-768px: Tablets & larger smartphones
769px-1279px: Laptops, larger tablets in landscape, and small desktops
1280+: Larger desktops and monitors


*/

@media screen and (min-width: 760px) {
    .hero-section {
        flex-direction: row;
        font-size: 12px;
        
    }
}

@media screen and (min-width: 1024px) {

    .main-nav--desktop {
        display: flex;
    }

    .main-nav--mobile {
        display: none;
    }

    .hero-section {
        font-size: 15px;
    }
}